## STATS 306 WI 2022, HW 4, _20 points_

Assigned: 03/16/2022

Due: 03/23/2022, 11:59 pm Ann Arbor time

### Instructions

* Make a copy of this notebook in your own Google Drive (`File > Save a copy in Drive`) so that you can edit it.

* Before you submit the problem set, make sure everything runs as expected. Go to the menu bar at the top of Colab and select `Runtime > Run All`. Your code should run from top to bottom with no errors. Failure to do this will result in loss of points.

* Each problem has its own answer cell. Depending on the problem, the answer cell is a Markdown cell (to type text answers) or a Code cell (to type R code). Please write your answer in the designated cell. If you want to add addtional cells make sure to add them just below the designated cell.

* After you are done with running your code, use `Ctrl`/`⌘` + `p` (alternatively `File > Print`) then click `save as pdf` to save your homework as a pdf file. You are **not** going to upload your `.ipynb` file, we just need the `.pdf`. **It is your responsibility to ensure that your answers are clearly visible in the pdf file you upload to Canvas.** If the pdf you upload has crucial parts of the code and/or plots cut off you may lose points even if your notebook ran correctly. So please double check the pdf file before uploading.

* Use Slack `#hw4` channel to discuss the problems and ask for clarifications. But please be careful not to post an answer or part of an answer. Doing so may result in loss of points and/or disqualification from submitting the homework.

### Required Packages

In [ ]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.8
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### Problem 1, _5 points_

**(1)** Create a tibble using `tribble()` and `mutate()`. Assign it to a variable named `covid`. It should print as follows. _2 points_

```
# A tibble: 5 × 3
  country cases_in_millions deaths_in_thousands
  <chr>               <dbl>               <int>
1 USA                  79.4                 966
2 India                43                   516
3 Brazil               29.3                 655
4 France               22.7                 137
5 UK                   19.6                 163
```

In [ ]:
# SOLUTION CELL

In [ ]:
# DO NOT EDIT THIS CELL
print(covid)

**(2)** We have defined two vectors below, one with names of 9 countries and another with their time zone names.

In [ ]:
# DO NOT EDIT THIS CELL

country <- c("Italy", "Greece", "Turkey", "Mauritius", "Pakistan", "Bangladesh", "Thailand", "Singapore", "Japan")
time_zone <- c("CET", "EET", "TRT", "MUT", "PKT", "BST", "THA", "SST", "JST")

Use the `tibble()` command to create a tibble named `timezones` that prints as follows:
```
# A tibble: 9 x 3
  country    time_zone UTC_offset
  <chr>      <chr>          <int>
1 Italy      CET                1
2 Greece     EET                2
3 Turkey     TRT                3
4 Mauritius  MUT                4
5 Pakistan   PKT                5
6 Bangladesh BST                6
7 Thailand   THA                7
8 Singapore  SST                8
9 Japan      JST                9
```
Note that the contents of the first two columns have to be pulled from the two vectors defined above whereas the third column has to be created by you directly. _3 points_

In [ ]:
# SOLUTION CELL

In [ ]:
# DO NOT EDIT THIS CELL
print(timezones)

### Problem 2, _5 points_

**(1)** The average life expectancies of countries for various years are stored in a file at the URL below:

In [ ]:
# DO NOT EDIT THIS CELL

life_url <- 'https://github.com/ambujtewari/stats306-winter2022/raw/main/data/life_expectancy_years.csv'

Import the file and keep only the columns `country` and `2010` through `2022`. Then use `pivot_longer` to move the years in a column called `year` and the values into a column named `life_expectancy`. Additionally, change the `year` column to be of type integer. This final tibble, which is in tidy format, should be stored in a variable named `life`.  _4 points_

In [ ]:
# SOLUTION CELL

In [ ]:
# DO NOT EDIT THIS CELL
print(slice_head(life, n=15))

**(2)** Using `life` as a starting point, create a line plot (using `geom_line()`) of `life_expectancy` on the y-axis versus `year` on the x-axis for China, India, and United States. Make sure each country's line is in a different color. _1 point_

In [ ]:
# SOLUTION CELL

### Problem 3, _5 points_

**(1)** Let us use the `life` tibble from the previous problem again. Using a single chain of piped commands, create a vector (not a tibble) `low_le_countries` that contains the names of the countries with average `life_expectancy` (over the years represented in the tibble `life`) less than 60. When computing averages, do NOT remove missing values. Your command should manipulate tibbles all the way to the end where you should extract exactly one column from the tibble as a vector and store the result in the variable `low_le_countries`. _4 points_

In [ ]:
# SOLUTION CELL

The code below ensures that the vector `low_le_countries` gets displayed for grading purposes. Don't change it!

In [ ]:
# DO NOT EDIT THIS CELL

print(low_le_countries)

**(2)** For all countries in `low_le_countries`, create a line plot using `geom_line` with `year` on x-axis, `life_expectancy` on y-axis. Make sure the lines representing data from the different countries are in different colors. _1 point_

In [ ]:
# SOLUTION CELL

### Problem 4, _5 points_

**(1)** Create a string and assign it to the variable `book` such that `writeLines(book)` displays the following: _1 point_
```
   ,   ,
  /////|
 ///// |
|~~~|  |
|"""|  |
|3  |  |
| 0 |  |
|  6| /
|"""|/
'---'
```
You need to make sure that the total number and identity of characters (including space) in your output matches what is given above. Note that the display above has 10 lines with the following character counts: 8, 8, 8, 8, 8, 8, 8, 7, 6, 5.

In [ ]:
# SOLUTION CELL

In [ ]:
# DO NOT EDIT THIS CELL

writeLines(book)

**(2)** Below we have defined a tibble called `stat_courses`.

In [ ]:
# DO NOT EDIT THIS CELL

stat_courses <- tribble(
    ~course,
    "100: Introduction to Statistics, Probability and Mathematical Modeling",
    "125: Statistics, Games and Coincidences",
    "150: Making Sense of Data",
    "180: AP Statistics",
    "206: Intro Data Science", 
    "250: Intro Stat and Data Analysis", 
    "306: Statistical Computing",
    "315: Statistics and Artificial Intelligence"
)

Use `stat_courses` to create a new tibble called `stat_course_numbers` that prints as follows: _2 points_
```
# A tibble: 8 × 2
  course_number course_name                                                     
  <chr>         <chr>                                                           
1 100           Introduction to Statistics, Probability and Mathematical Modeli…
2 125           Statistics, Games and Coincidences                              
3 150           Making Sense of Data                                            
4 180           AP Statistics                                                   
5 206           Intro Data Science                                              
6 250           Intro Stat and Data Analysis                                    
7 306           Statistical Computing                                           
8 315           Statistics and Artificial Intelligence        
```

In [ ]:
# SOLUTION CELL

In [ ]:
# DO NOT EDIT THIS CELL
print(stat_course_numbers)

**(3)** Change the column `course_number` so that the prefix `"STATS "` gets added to each course number. After this change, the tibble `stat_course_numbers` should print as follows: _1 point_
``` 
# A tibble: 8 × 2
  course_number course_name                                                     
  <chr>         <chr>                                                           
1 STATS 100     Introduction to Statistics, Probability and Mathematical Modeli…
2 STATS 125     Statistics, Games and Coincidences                              
3 STATS 150     Making Sense of Data                                            
4 STATS 180     AP Statistics                                                   
5 STATS 206     Intro Data Science                                              
6 STATS 250     Intro Stat and Data Analysis                                    
7 STATS 306     Statistical Computing                                           
8 STATS 315     Statistics and Artificial Intelligence       
```

In [ ]:
# SOLUTION CELL

In [ ]:
# DO NOT EDIT THIS CELL

print(stat_course_numbers)

**(4)** Create a string and assign to the variable `quote` such that `writeLines(quote)` displays the following: _1 point_
```
"Nothing is impossible,
    the word itself says 'I'm possible'!"
                        -- Audrey Hepburn
```
Make sure to create a string with exactly the same number of lines and characters (including spaces) in each line as in the example diplay above.

In [ ]:
# SOLUTION CELL

In [ ]:
# DO NOT EDIT THIS CELL

writeLines(quote)