# STATS 306, Winter 2022
## Take-home Midterm Exam

Assigned: Feb 18, 2022  
Due: Feb 25, 2022, 11:59 pm Ann Arbor time

There are a total of **four problems** for a total of **30 points** (problems are worth similar but not exactly the same number of points)

**PLEASE READ EXAM INSTRUCTIONS** (available [here](https://github.com/ambujtewari/stats306-winter2022/blob/main/midterm/README.md)) before proceeding further.

Links to jump directly to problems:

- [Problem 1](#Problem-1): CO2 emissions
- [Problem 2](#Problem-2): Global population
- [Problem 3](#Problem-3): Happiness score
- [Problem 4](#Problem-4): Reversal paradox

### Required Packages

In [ ]:
# DO NOT EDIT THIS CELL
library(tidyverse)
prefix = 'https://raw.githubusercontent.com/ambujtewari/stats306-winter2022/main/data/'

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### Statement of Academic Integrity

**(1)**  

_"I have read the exam instructions. All work submitted is my own. If I used any resources, physical, digital, or otherwise, I have listed them below. I have fully complied with all standards of academic integrity."_  

Type your full name below in lieu of a physical signature.

#### Text solution cell 0.1

replace this line with your full name

**(2)** List any resources you used that are not mentioned in the exam instructions

#### Text solution cell 0.2

Type "NA" if you didn't use any resources other than the ones listed in the exam instructions. Otherwise, list all additional resources you used to solve this exam.

### Problem 1

#### CO2 emissions (tonnes per person), _7 points_

In [ ]:
# DO NOT EDIT THIS CELL

# read in data and pivot
CO2_df <- read_csv(str_c(prefix, 'co2_emissions_tonnes_per_person.csv'))
CO2_df <- pivot_longer(CO2_df, `1800`:`2018`, names_to="year", values_to="emissions")

Rows: 192 Columns: 220
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr   (1): country
dbl (219): 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810,...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

**(1)** Using `CO2_df` as a starting point, create a tibble `missing_emissions` with exactly two columms: `year` and `has_missing`. For each value of `year`, the `has_missing` column should be a logical value: `TRUE` or `FALSE`. It should be `TRUE` for a year if and only if there is a country whose CO2 emissions data is missing in `CO2_df` for that year.  _**2 points**_

In [ ]:
# SOLUTION CELL 1.1

In [ ]:
# DO NOT EDIT THIS CELL

slice_head(missing_emissions, n=5) %>% print()

In [ ]:
# DO NOT EDIT THIS CELL

slice_tail(missing_emissions, n=5) %>% print()

**(2)** For which years do we have CO2 emissions data for all countries? First write the code (using ONLY the `missing_emissions` tibble you created above) to get the answer and then write the answer in the text cell below. _**2 points**_

In [ ]:
# SOLUTION CELL 1.2

#### Text solution cell 1.2

Type your answer here

**(3)** Using the `CO2_df` tibble, do the following transformations in a single piped command consisting of multiple `dplyr` verbs:
- create a tibble with three columns: `country`, `mean_emissions`, and `num_missing`. For each country, the `mean_emissions` column should be the average value of emissions for that country (ignoring missing values). The `num_missing` column should be the number of years where emissions for that country are missing.
- keep only those rows where `num_missing` is strictly less than 10
- sort in descending order of `mean_emissions`

 _**3 points**_

In [ ]:
# SOLUTION CELL 1.3

### Problem 2

#### Global population, _7 points_

In [ ]:
# DO NOT EDIT THIS CELL

# read in data and pivot
pop_df <- read_csv(str_c(prefix, 'population_total.csv'))
pop_df <- pivot_longer(pop_df, `1800`:`2100`, names_to="year", values_to="population") %>%
    mutate(year = as.integer(year))

Rows: 195 Columns: 302
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr   (1): country
dbl (301): 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810,...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

**(1)** Using `pop_df` as a starting point, create a tibble with two columns: `year` and `total_pop` where the latter should be the sum of the populations of all countries in a given year. Make sure that `total_pop` has the world population in **billions**. Use this tibble to create a smooth plot of the relationship between `total_pop` (y-axis) vs. `year` (x-axis) for the hundred year period from 1901 to 2000 (inclusive). For full credit, write a solution using pipes that does not use any intermediate variables. _**3 points**_

In [ ]:
# SOLUTION CELL 2.1

**(2)** Let us define a vector with countries that are often refered to as the "Group of Seven".

In [ ]:
# DON"T EDIT THIS CELL

G7 = c("Canada", "France", "Germany", "Italy", "Japan", "United Kingdom", "United States")

Use the `pop_df` tibble and `G7` vector to execute the following steps in a single piped command. Use only `dplyr` verbs and `ggplot`.
- keep only Group of Seven countries and years in the range 1981 to 2000 (inclusive)
- create a tibble with two columns `country` and `mean_population` where the `mean_population` is the mean population of a country during the years 1981 to 2000 (inclusive)
- create a bar chart with the Group of Seven countries on the y-axis and `mean_population` of these countries (over the years 1981-2000)  on the x-axis. Make sure each country's bar is colored with a different color. _**4 points**_

In [ ]:
# SOLUTION CELL 2.2

### Problem 3

#### Happiness score, _8 points_

In [ ]:
# DO NOT EDIT THIS CELL

# read in data
happy_df <- read_csv(str_c(prefix, "hapiscore_whr.csv"))

Rows: 161 Columns: 16
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): country
dbl (15): 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

**(1)** The `happy_df` tibble contains national averages of a "happiness score" for various countries for the years 2005 through 2019. The "happiness score" is the response to the question:

"Think of a ladder, with the best possible life for you being a 10, and the worst possible life being a 0. Rate your own life on this 0 to 10 scale."

In the tibble above, these responses on a 0 to 10 scale have been rescaled to the interval \[0,1\].

In the cell below, write a command using pipes to perform the following sequence of operations in the order specified using `happy_df` as a starting point: _**5 points**_

1. keep only country and the columns corresponding to the years 2009 and 2019
2. keep only those countries for which both 2009 and 2019 data is available
3. create two new columns: `rank_2009` and `rank_2019`. These should be ranks of the country in the years 2009 and 2019 respectively. Use the `rank` function in R (don't worry about tie-breaking options, just use the default) and make sure that counties with *higher* average happiness scores get *smaller* numerical ranks.
4. drop the columns corresponding to the years 2009 and 2019 leaving just three columns: `country`, `rank_2009` and `rank_2019`
5. keep only those countries that had a rank of 10 or better in _both_ 2009 and 2019

In your final result, is there any country that appears with a rank of 1 in both years?

In [ ]:
# SOLUTION CELL 3.1

#### Text solution cell 3.1

Type your answer here

**(2)** Before proceeding, let us reshape the data a little bit.

In [ ]:
# DO NOT EDIT THIS CELL

happy_df_pivoted <- pivot_longer(happy_df, `2005`:`2019`, names_to="year", values_to="happiness_score")

Now, using `happy_df_pivoted` as the starting point, write a single command using pipes to execute the following steps in order: _**3 points**_

1. consider only the data for the years 2009 through 2019 (inclusive)
2. compute the average happiness score (put it in a column `average_happiness_score`), for the period 2009-2019, but only for those countries that have no missing data during this period
3. sort `average_happiness_score` and keep the 10 least happy countries for the period 2009-2019 (these will have the lowest numerical values for the average happiness score)

In [ ]:
# SOLUTION CELL 3.2

### Problem 4

#### Reversal paradox, _8 points_

The **reversal paradox** (also called the **Simpson's paradox**, especially when categorical variables are involved) involves a situation when the overall correlation between a pair of variables, say `X` and `Y`, has one sign (say negative) but when the data is separated into groups by a categorical variable `C`, each of the partial correlations (correlations between `X` and `Y` within a group with same value of `C`) have the opposite signs (say positive). See the [Wikipedia](https://en.wikipedia.org/wiki/Simpson%27s_paradox) page for an example.

In [ ]:
# DO NOT EDIT THIS CELL

get_mystery_df <- function(rho,a,b,c,d) {
    n <- 500
    C <- sample(1:5, n, replace=TRUE)
    X <- rnorm(n)
    Y <- rnorm(n)
    rotated <- cbind(X,Y) %*% matrix(c(1,rho,rho,1),nrow=2,ncol=2)
    X <- rotated[,1] + a*C + b
    Y <- rotated[,2] + c*C + d
    return(tibble(X = X, Y = Y, C = factor(C)))
}


df1 <- get_mystery_df(0.7,-0.3,0.3*2.5,0.3,-0.3*2.5)

**(1)** For the mysterious tibble `df1` created above (has 500 rows and three columns `X`, `Y`, and `C`), create a scatterplot with `X` on x-axis and `Y` on y-axis. Superimpose the line of best fit on it (the line should be in *red* color). Make sure that just the line of best fit is plotted (i.e., any error bars should be turned off). _**2 points**_

In [ ]:
# SOLUTION CELL 4.1

**(2)** Create the scatterplot with `X` on x-axis and `Y` in y-axis again. But this time, facet wrap on the value of `C`. Make sure to superimpose on the scatterplots, the lines of best fit for each group of points (with groups determined by the categorical variable `C`). Make sure _all_ the lines of best fit are in _red_ color. Also make sure to turn off any error bars. _**2 points**_

In [ ]:
# SOLUTION CELL 4.2

**(3)** Does the tibble `df1` exhibit the reversal paradox? Explain your answer. _**1 point**_

#### Text solution cell 4.3

Type your answer here

**(4)** Let us create a tibble `df2` which has the same dimensions and variables as `df1`.

In [ ]:
# DO NOT EDIT THIS CELL

df2 <- get_mystery_df(-0.7,1.5,0,1.5,0)

Repeat part **(1)** above but now for the tibble `df2` defined in the previous cell. _**1 point**_

In [ ]:
# SOLUTION CELL 4.4

**(5)** Repeat part **(2)** above but now for the tibble `df2`. _**1 point**_

In [ ]:
# SOLUTION CELL 4.5

**(6)** Does the tibble `df2` exhibit the reversal paradox? Explain your answer. _**1 point**_

#### Text solution cell 4.6

Type your answer here